.card {
    padding: 20px;
    border-radius: 30px;
    background-color: #0A0E21;
}

h5, p {
    color: white;
}

.fondo-item {
    background-color: #FF111328;
    border-radius: 20px;
    height: 100%;
}

.alturaCaja {
    height: 480px;
}
.row {
    padding: 10px;
}

.btn-color {
    background-color: #FF3366;
    border-color: #FF3366;
    border-radius: 25px;
}