<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <h5>Tu Resultado</h5>
            <div class="row alturaCaja">
                <div class="col-12">
                    <div class="fondo-item">
                        <div class="contenedor">
                            <p class="resultado">RESULTADO</p>
                            <div class="estiloNumero">20.2</div>
                            <p class="interpretacion">Interpretacion..</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary btn-lg btn-block btn-color">RE-CALCULAR</button>
            </div>
        </div>
    </div>
</div>
