<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <h5>BIM CALCULATOR</h5>
            <div class="row alturaCaja">
                <div class="col-6">
                    <div class="fondo-item">
                        <div class="contenedor">
                            <i class="fas fa-mars sexo"></i>
                            <p>Masculino</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="fondo-item">
                        <div class="contenedor">
                            <i class="fas fa-venus sexo"></i>
                            <p>Femenino</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row alturaCaja">
                <div class="col-12">
                    <div class="fondo-item">
                        <div class="contenedor">
                            <p>Altura</p>
                            <div class="estiloNumero">
                                180 <span class="cm">cm</span>
                            </div>
                            <input type="range" class="custom-range">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>